/* Responsive >= 992px */
@media (min-width: 992px) {
    .section__container {
        margin-left: 100px;
    }

    .section2__container {
        margin-left: 100px;
    }

    .container.section3 {
        padding-left: 100px;
    }

    .section4 {
        margin-top: 136px;
        margin-bottom: 200px;
    }

    .section4__container,
    .section5__container,
    .section6__container {
        padding-left: 88px;
    }
}

/* Responsive >= 768px */
@media (min-width: 768px) {
    .form-select {
        width: 220px;
        height: 52px;
    }
}

/* Responsive >= 576px */
@media (min-width: 576px) {
    .section3 .section3__list {
        display: none;
    }
}

/* Responsive < 992px */
@media (max-width: 991.98px) {
    body .nav__config {
        top: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #b8becd;
        align-self: center;
        padding: 0 14px;
    }

    body .nav__config {
        top: 0 !important;
    }

    .btn__login {
        border: 1px solid #fb8f1d;
        color: #fb8f1d;
        margin: 0 28px 0 14px;
    }

    .btn--size {
        height: 40px;
        width: 96px;
    }

    /* Section 1 */
    .section1__title {
        font-size: 80px;
        line-height: 100px;
    }

    .section1__category {
        margin: 40px 0 30px 0;
    }

    .section1 .btn--size {
        margin-top: 35px;
    }

    .section1__img {
        margin-top: 80px;
    }

    .section1 {
        padding-top: 50px;
        margin-bottom: 150px;
    }

    /* section 2 */
    .section2__img {
        display: flex;
        align-items: center;
    }

    .section__description {
        margin-bottom: 12px;
    }

    /* section 3 */
    .section3__view > div:nth-child(3),
    .section3__view > div:nth-child(4) {
        display: none;
    }
    .section3 {
        margin-top: 110px;
        padding-bottom: 0;
    }

    .section__title {
        font-size: 30px;
        margin-bottom: 14px;
    }

    .btn--orange {
        width: 120px;
    }

    /* section 4 */
    .section4__content {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .section4__content > button {
        width: 144px;
        height: 48px;
    }

    /* section5 */
    .section5 {
        margin-top: 130px;
    }

    .section5__list {
        width: 100%;
        margin-left: 0;
        border-radius: 16px;
    }

    .section5__description {
        margin-top: 20px;
    }

    .section5__description > br {
        display: none;
    }

    .section5__item {
        width: 100%;
    }

    /* section6 */
    .section6 {
        margin-top: 130px;
    }

    .section6__container .section__title {
        margin-bottom: 10px;
    }

    .section6__container > article:nth-child(3),
    .section6__container > article:nth-child(4) {
        display: none;
    }

    article {
        height: auto !important;
    }

    article > img {
        object-fit: cover;
        height: 231px;
    }

    article > p {
        padding-bottom: 30px;
    }

    article > span {
        width: 60%;
    }

    /* footer */
    footer {
        margin-top: 120px;
    }

    footer > div:nth-child(1) {
        flex-direction: column-reverse;
    }

    footer .container__logo {
        text-align: center;
        margin-top: 40px;
    }

    footer .footer__logo {
        display: inline-block !important;
    }

    footer .footer__slogan {
        margin: 22px 0 36px 0;
    }

    footer .footer__logo {
        width: 80px;
        height: 80px;
    }

    footer .footer__list {
        margin-left: 0;
    }

    footer .footer__line {
        margin: 40px 0 0 0;
    }

    #btn__top {
        left: 89%;
        bottom: 2%;
    }
}

/* Responsive Smart Phone< 576px */
@media (max-width: 575.98px) {
    body {
        width: 100%;
    }

    .toast-container {
        bottom: 0;
        left: 0;
    }

    /* <!-- Global --> */
    .container {
        padding: 0 16px;
    }

    .navbar-nav.ms-auto {
        align-items: center;
    }

    .navbar-nav.ms-auto > a {
        height: 40px;
        line-height: 40px;
    }

    .btn__login {
        margin: 0 0 14px 0;
    }

    .btn--size {
        width: 200px;
    }

    .navbar {
        padding: 11px 0;
    }

    .navbar__container {
        height: 50px;
    }

    .navbar-nav.ms-auto {
        background-color: #ffffff;
        padding-bottom: 4px;
    }

    .navbar-nav.ms-auto > a {
        height: 36px;
        line-height: 36px;
    }

    .btn__login {
        margin: 0 0 12px 0;
    }

    .btn--size {
        width: 180px;
    }

    /* <!-- Section 1 --> */
    .section1 {
        margin-bottom: 80px;
    }

    .section1__title {
        font-size: 58px;
    }

    .section1__category {
        margin: 30px 0 20px 0;
    }

    .section1__select {
        gap: 32px 0;
    }

    .section1 .btn--size {
        margin-top: 32px;
    }

    .form-select {
        height: 44px;
    }

    .section1 .btn--size {
        width: 152px;
        height: 48px;
    }

    /* <!-- Section 2 --> */
    .section2 .row {
        flex-direction: column-reverse;
    }

    .section2__img {
        margin-top: 40px;
    }

    /* <!-- Section 3 --> */
    .section3 {
        margin-top: 80px;
    }

    .section3 .section3__view {
        display: none;
    }

    .section3 .row > div:nth-child(1),
    .section3 .row > div:nth-child(2) {
        flex-basis: calc(50% - 70px);
    }
    .btn--orange {
        display: flex;
        justify-content: flex-end;
    }

    /* <!-- Section 4 --> */
    .section__description > br {
        display: none;
    }

    /* <!-- Section 5 --> */
    .section5 {
        margin-top: 80px;
    }

    .section5__container > div:nth-child(1) {
        margin-bottom: 30px;
    }

    .section5__description {
        margin-bottom: 8px;
    }

    .section5__description > br {
        display: none;
    }
    /* <!-- Section 6 --> */
    .section6 {
        margin-top: 80px;
    }

    article:last-child {
        display: none;
    }

    /*  <!-- footer -->  */
    footer {
        margin-top: 80px;
    }

    footer .row__config {
        text-align: center;
        gap: 30px 0;
    }

    footer .footer__title {
        margin-bottom: 0;
        line-height: 48px;
    }

    footer .container__logo {
        margin-top: 40px;
    }

    #btn__top {
        left: 18px;
        bottom: 72px;
    }
}
